<section id="forgot-sent" class="wow fadeInUp">
	<div class="container">
		<div class="row">
			<div class="section-header">
				<h2>Password Assistance</h2>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="alert alert-info alert-custom" role="alert">
					<h4 class="alert-heading">Password Changed!</h4>
					<p>Your password was successfully changed.<br>You can now <a href="/en/login">Click Here</a>, make a new login and have access to your account and products.</p>
				</div>                  
			</div>
		</div>
	</div>
</div>