<script>
function submitForm() {
	'use strict';

	if (validateForm(document.getElementById('email').form, false, '', '', 'en', false)) {
		let name = document.getElementById('name').value;
		let email = document.getElementById('email').value;
		let subject = document.getElementById('subject').value;
		let message = document.getElementById('message').value;

		$.ajax({
			type: "POST",
			url: "/views/en/contact/contactForm.php",
			data: {name: name, email: email, subject: subject, message: message},
			success: function(msg) {
				if (msg === 'OK') {
					document.getElementById('send-message').style.display = 'block';
					document.getElementById('error-message').style.display = 'none';
				} else {
					document.getElementById('send-message').style.display = 'none';
					document.getElementById('error-message').style.display = 'block';
					event.preventDefault();
				}
			}
		});

	} else {
		event.preventDefault();
	}
}
</script>

<section id="contact" class="wow fadeInUp">
	<div class="form">
		<div class="container">
			<div class="row">
				<div class="form-group col-12">
					<div id="send-message">Your message has been sent. Thank you!</div>
					<div id="error-message"></div>
				</div>

				<form action="" method="post" role="form" class="form contact-form" id="contact-form">
					<div class="section-header" style="padding-left: 15px">
						<h2>Contact Us</h2>
						<p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
					</div>

					<div class="container">
						<div class="form-group input-group">
							<div class="row no-gutters input-group">
								<div class="col-6 labelled-div-input first-column">
										<input type="text" class="form-control labelled-input" id="name" name="name">
										<label for="name">Your Name*</label>
								</div>

								<div class="col-6 labelled-div-input second-column">
										<input type="email" class="form-control labelled-input" id="email" name="email">
										<label for="name">Your Email*</label>
								</div>
							</div>
						</div>

						<div class="form-group input-group">
							<div class="row no-gutters input-group">
								<div class="col-12 labelled-div-input">
									<input type="text" class="form-control labelled-input" id="subject" name="subject">
									<label for="subject">Subject*</label>
								</div>
							</div>
						</div>

						<div class="form-group textarea-group">
							<div class="row no-gutters textarea-group">
								<div class="col-12 labelled-div-textarea">
									<textarea type="text" class="form-control labelled-textarea" name="message" id="message" rows="5" data-msg="Please write something for us."></textarea>
									<label for="message">Message*</label>
								</div>
							</div>
						</div>
			
						<div class="col-12 d-flex justify-content-center">
							<button type="button" class="btn btn-common col-2" onclick="submitForm()">Send Message</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>