<!-- first section (portfolio)-->
<section id="portfolio" class="wow fadeInUp section">
	<div class="row no-gutters">
		<div class="col-lg-3 col-md-4">
			<div class="portfolio-item wow fadeInUp">
<!--              <a href="views/a1reveal/img/portfolio/1.jpg" class="portfolio-popup">
					<img src="res/assets/img/teste/pao-queijo.jpg" alt="">
-->
				<a title="By AnitaFortis [CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0)], from Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Guaran%C3%A1_06.jpg">
					<img class="portfolio-popup" width="512" alt="Guarana" src="/assets/img/portfolio/portfolio1-512px.jpg">
					<div class="portfolio-overlay">
						<div class="portfolio-info"><h2 class="wow fadeInUp">Powder, Extract, Soft Drink, Tablet</h2></div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-lg-3 col-md-4">
			<div class="portfolio-item wow fadeInUp">
<!--              <a href="img/portfolio/4.jpg" class="portfolio-popup">
					<img src="img/portfolio/4.jpg" alt="">
-->
				<a title="By User Femto on en.wikipedia (Femto) [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC-BY-SA-3.0 (http://creativecommons.org/licenses/by-sa/3.0/)], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:CashewSnack.jpg">
					<img width="512" alt="Chestnut" src="/assets/img/portfolio/portfolio2-256px.jpg">
					<div class="portfolio-overlay">
						<div class="portfolio-info"><h2 class="wow fadeInUp">Nut, Root</h2></div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-lg-3 col-md-4">
			<div class="portfolio-item wow fadeInUp">
<!--              <a href="img/portfolio/5.jpg" class="portfolio-popup">
					<img src="img/portfolio/5.jpg" alt="">
-->
				<a title="By T.K. Naliaka [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], from Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Cassava_-dried_tuber_pieces_and_ground_flour.jpg">
					<img width="512" alt="Cassava flour" src="/assets/img/portfolio/portfolio3-512px.jpg">
					<div class="portfolio-overlay">
						<div class="portfolio-info"><h2 class="wow fadeInUp">Cookie, Flour, Starch</h2></div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-lg-3 col-md-4">
			<div class="portfolio-item wow fadeInUp">
<!--              <a href="img/portfolio/2.jpg" class="portfolio-popup">
					<img src="img/portfolio/2.jpg" alt="">
-->
				<a title="By CostaPPPR [CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0)], from Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Acai-DSC_2933.jpg">
					<img width="512" alt="Acai" src="/assets/img/portfolio/portfolio4-512px.jpg">
					<div class="portfolio-overlay">
						<div class="portfolio-info"><h2 class="wow fadeInUp">Jam, Pulp</h2></div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-lg-3 col-md-4">
			<div class="portfolio-item wow fadeInUp">
<!--              <a href="img/portfolio/3.jpg" class="portfolio-popup">
					<img src="img/portfolio/3.jpg" alt="">
-->
				<a title="By Navaneeth Krishnan S [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], from Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:King_coconut_in_Kerala,_India.jpg">
					<img width="512" alt="Coconut" src="/assets/img/portfolio/portfolio5-512px.jpg">
					<div class="portfolio-overlay">
						<div class="portfolio-info"><h2 class="wow fadeInUp">Candy, Milk, Oil</h2></div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-lg-3 col-md-4">
			<div class="portfolio-item wow fadeInUp">
<!--              <a href="img/portfolio/6.jpg" class="portfolio-popup">
					<img src="img/portfolio/6.jpg" alt="">
-->
				<a title="By Sakurai Midori [CC BY-SA 2.1 jp (https://creativecommons.org/licenses/by-sa/2.1/jp/deed.en), GFDL (http://www.gnu.org/copyleft/fdl.html) or CC-BY-SA-3.0 (http://creativecommons.org/licenses/by-sa/3.0/)], from Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Guava_ID.jpg">
					<img width="512" alt="Guava" src="/assets/img/portfolio/portfolio6-512px.jpg">
					<div class="portfolio-overlay">
						<div class="portfolio-info"><h2 class="wow fadeInUp">Juice, Paste</h2></div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-lg-3 col-md-4">
			<div class="portfolio-item wow fadeInUp">
<!--              <a href="img/portfolio/7.jpg" class="portfolio-popup">
					<img src="img/portfolio/7.jpg" alt="">
-->
				<a title="By Suvendra.nath [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], from Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Beautyfull_corn.JPG">
					<img width="512" alt="Corn cob" src="/assets/img/portfolio/portfolio7-512px.jpg">
					<div class="portfolio-overlay">
						<div class="portfolio-info"><h2 class="wow fadeInUp">Cream, Popcorn, Soup</h2></div>
					</div>
				</a>
			</div>
		</div>

		<div class="col-lg-3 col-md-4">
			<div class="portfolio-item wow fadeInUp">
<!--              <a href="img/portfolio/8.jpg" class="portfolio-popup">
					<img src="img/portfolio/8.jpg" alt="">
-->
				<a title="By Philstone [GFDL (http://www.gnu.org/copyleft/fdl.html) or CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0)], from Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Assortiment_de_cabosse-Madagascar-oct-09.JPG">
					<img width="512" alt="Cocoa" src="/assets/img/portfolio/portfolio8-512px.jpg">
					<div class="portfolio-overlay">
						<div class="portfolio-info"><h2 class="wow fadeInUp">Chocolate, Groceries</h2></div>
					</div>
				</a>
			</div>
		</div>
	</div><!-- Row Ends -->
</section><!-- Categories Section Ends -->

<!-- Categories Section -->
<section id="service-block-main" class="wow fadeInUp section">
	<!-- Container Starts -->
	<div class="container">
		<div class="row">        
			<div class="col-12">
				<h2 class="section-title wow fadeIn animated" data-wow-delay=".2s">
				 Categories
				</h2>
			</div>
			<div class="col-12">
				<p class="section-subcontent">Our major product categories</p>
			</div>
			<div class="col-sm-6 col-md-3">
				<!-- Service-Block-1 Item Starts -->
				<div class="service-item wow fadeInUpQuick animated" data-wow-delay=".5s">
					<div class="icon-wrapper">
						<i class="pulse-shrink">
							<img src="/assets/img/categories/stew-64.png" width="64" height="64">
						</i>   
					</div>
					<h2>
						Food
					</h2>
					<p>
						Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
					</p>
				</div>
				<!-- Service-Block-1 Item Ends -->
			</div>

			<div class="col-sm-6 col-md-3">
				<!-- Service-Block-1 Item Starts -->
				<div class="service-item wow fadeInUpQuick animated" data-wow-delay=".8s">
					<div class="icon-wrapper">
						<i class="pulse-shrink">
							<img src="/assets/img/categories/water-64.png" width="64" height="64">
						</i>   
					</div>
					<h2>
						Drink
					</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat Quidem!
					</p>
				</div>
				<!-- Service-Block-1 Item Ends -->
			</div>

			<div class="col-sm-6 col-md-3">
				<!-- Service-Block-1 Item Starts -->
				<div class="service-item wow fadeInUpQuick animated" data-wow-delay="1.1s">
					<div class="icon-wrapper">
						<i class="pulse-shrink">
							<img src="/assets/img/categories/tea-64.png" width="64" height="64">
						</i>   
					</div>
					<h2>
						Special
					</h2>
					<p>
						Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
					</p>
				</div>
				<!-- Service-Block-1 Item Ends -->
			</div>

			<div class="col-sm-6 col-md-3">
				<!-- Service-Block-1 Item Starts -->
				<div class="service-item wow fadeInUpQuick animated" data-wow-delay="1.1s">
					<div class="icon-wrapper">
						<i class="pulse-shrink">
							<img src="/assets/img/categories/grain-64.png" width="64" height="64">
						</i>   
					</div>
					<h2>
						Featured
					</h2>
					<p>
						Pellentesque ipsum erat, facilisis ut venenatis eu, sodales vel dolor.
					</p>
				</div>
				<!-- Categories Item Ends -->
			</div>
		</div><!-- Row Ends -->
	</div><!-- Container Ends -->
</section><!-- Categories Section Ends -->

<!-- Highlight Section -->
<section id="team" class="section">
	<!-- Container Starts -->
	<div class="container">        
		<!-- Row Starts -->
		<div class="row">
			<div class="col-12">
				<h2 class="section-title wow fadeInDown" data-wow-delay=".5s">
					Highlight
				</h2>
			</div>
			<div class="col-12">
				<p class="section-subcontent">Our featured products of the season</p>
			</div>
			<div class="col-sm-6 col-md-3">
				<!-- Team Item Starts -->
				<div class="team-item wow fadeInUpQuick" data-wow-delay="1s">
					<figure class="team-profile">
						<a title="By P. S. Sena [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], from Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Acai-complt4.JPG"><img width="256" alt="Featured 01" src="/assets/img/featured/featured1-256px.jpg"></a>
						<figcaption class="our-team">
							<div class="details">
								<p class="content-white">Amazonian seed rich in iron and antioxidant property.</p>
<!--
							 <div class="orange-line"></div>
							 <div class="social"> 
								 <a class="facebook" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a> 
								 <a class="twitter" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a> 
								 <a class="google-plus" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>
							 </div>
-->
							</div>
						</figcaption>
					</figure>
					<div class="info">
						<h2>
							Acai
						</h2>
						<div class="orange-line"></div>
						<p>
							Seed of Amazon Florest
						</p>
					</div>
				</div>
				<!-- Team Item Ends -->
			</div>

			<div class="col-sm-6 col-md-3">
				<!-- Team Item Starts -->
				<div class="team-item wow fadeInUpQuick" data-wow-delay="1.4s">
					<figure class="team-profile">
						<a title="By Emmanuel Dabo [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], from Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Tubercules_de_manioc.jpg">
							<img width="256" alt="Featured 02" src="/assets/img/featured/featured2-256px.jpg">
						</a>
<!--
						 <a title="By Luisovalles [CC BY-SA 3.0 (https://creativecommons.org/licenses/by-sa/3.0)], from Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Casabe-2.jpg"><img width="256" alt="Casabe-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Casabe-2.jpg/256px-Casabe-2.jpg"></a>

-->
<!--                 <a title="By T.K. Naliaka [CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0)], from Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Cassava_-dried_tuber_pieces_and_ground_flour.jpg"><img width="512" alt="Cassava -dried tuber pieces and ground flour" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Cassava_-dried_tuber_pieces_and_ground_flour.jpg/512px-Cassava_-dried_tuber_pieces_and_ground_flour.jpg"></a>
-->
						<figcaption class="our-team">
							<div class="details">
								<p class="content-white">Grain-free flour made from cassava root.</p>
<!--
							 <div class="orange-line"></div>
							 <div class="social"> 
								 <a class="facebook" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a> 
								 <a class="twitter" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a> 
								 <a class="google-plus" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>
							 </div>
-->
							</div>
						</figcaption>
					</figure>
					<div class="info">
						<h2>
							Tapioca
						</h2>
						<div class="orange-line"></div>
						<p>
							Flour of cassava
						</p>
					</div>
				</div><!-- Team Item Starts -->
			</div>

			<div class="col-sm-6 col-md-3">
				<!-- Team Item Starts -->
				<div class="team-item wow fadeInUpQuick" data-wow-delay="1.8s">
					<figure class="team-profile">
						<a title="By A C Moraes from Brasília, Brasil (Original do Brasil) [CC BY 2.0 (https://creativecommons.org/licenses/by/2.0)], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Guaran%C3%A0_original_do_Brasil.jpg">
							<img width="256" alt="Featured 03" src="/assets/img/featured/featured3-256px.jpg">
						</a>
						<figcaption class="our-team">
							<div class="details">
								<p class="content-white">The seed of the Guarana fruit is a stimulant with thermogenic and diuretic properties.</p>
<!--
							 <div class="orange-line"></div>
							 <div class="social"> 
								 <a class="facebook" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a> 
								 <a class="twitter" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a> 
								 <a class="google-plus" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>
							 </div>
-->
							</div>
						</figcaption>
					</figure>
					<div class="info">
						<h2>
							Guarana
						</h2>
						<div class="orange-line"></div>
						<p>
							Seed of Amazon Florest
						</p>
					</div>
				</div>
				<!-- Team Item Ends -->
			</div>
			
			<div class="col-sm-6 col-md-3">
				<!-- Team Item Starts -->
				<div class="team-item wow fadeInUpQuick" data-wow-delay="2.2s">
					<figure class="team-profile">
						<img src="/assets/img/featured/featured1-256px.jpg" alt="Featured 04">
						<figcaption class="our-team">
							<div class="details">
								<p class="content-white">Small and baked cheese roll from Brazil.</p>
<!--
							 <div class="orange-line"></div>
							 <div class="social"> 
								 <a class="facebook" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a> 
								 <a class="twitter" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a> 
								 <a class="google-plus" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>
							 </div>
-->
							</div>
						</figcaption>
					</figure>
					<div class="info">
						<h2>
							Brazilian cheese bread
						</h2>
						<div class="orange-line"></div>
						<p>
							Special bread with cheese
						</p>
					</div>
				</div><!-- Team Item Ends -->
			</div>          
		</div><!-- Row Ends -->
	</div><!-- Container Ends -->
</section><!-- Highlight Section End -->