<section id="profile-orders" class="wow fadeInUp">
	<div class="container">
		<div class="row">
			<div class="section-header col-12">
				<h2>Your Account</h2>
			</div>

			<div class="col-md-3 profile-menu">
				{include="profile-menu"}
			</div>
             
			<div class="col-md-9 profile-field">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col" class="number">Total</th>
							<th scope="col">Status</th>
							<th scope="col">Address</th>
							<th scope="col">&nbsp;</th>
						</tr>
					</thead>

					<tbody>
						{loop="$orders"}
						<tr>
							<th scope="row">{$value.idorder}</th>
							<td class="number" style="width:98px;">{function="formatEU($value.vltotal)"} €</td>
							<td>{$value.dsstatus}</td>
							<td>{function="utf8encode($value.dsaddress)"}, {$value.dsnumber}, {$value.cdzipcode}<br/>{$value.dscity} {$value.dscountry}</td>
							<td style="width:210px;">
								<a class="btn btn-common col-6" href="/en/order/{$value.idorder}" role="button">Ticket</a>
								<a class="btn btn-default" href="/en/profile/orders/{$value.idorder}" role="button">Details</a>
							</td>
						</tr>
						{else}
						<tr>
							<td colspan="5">
								<div id="success-message">
									No orders found.
								</div>
							</td>
						</tr>
						{/loop}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>